#we{
        margin:10px;
        margin-left: 150px;
        padding-top: 3px;
        margin-bottom: 0px;
        padding: 40px;
        display:inline-block;
         }
         #we1{
        margin:100px;
        margin-left: 150px;
        margin-top: 3px;
        padding: 40px;
        display:inline-block;
         }
         #we2{
        margin:10px;
        margin-left: 10px;
        padding-top: 97px;
        margin-bottom: 0px;
        padding: 40px;
        display:inline-block;
         }

        #wf{
            margin:2px;
        display:inline-block;
        }
    
    #img{
        padding: 10px;
    }
    .vd{
        height: 400px;
        width: 250px;
    }
    .vs
    {
        width: 200px;
    }
    #eww{
        display:"inline-block";
         margin: 20px;
          padding: 10px;
          margin-left: 150px;

    }